*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    height: 100px;
    background-color: aquamarine;
display: flex;
justify-content: space-between;
align-items: center;

padding: 20px;
margin: 10px;
border: 2px solid black;
border-radius: 10px;

}

.navlinks{
   display: flex; 
gap:20px;
font-size: large;
}
.sidebar{
    width: 20%;
    height: 700px;
    background-color: rgb(149, 196, 179);
float: left;
margin: 10px;
padding: 15px;
margin: 15px;
text-align: center;
border: 2px solid black;
border-radius: 10px;

}
.container{
  
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  width: 73%; 
  background-color: rgb(197, 245, 241);


}
.card{
   
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 40px;
    
     width: 28%;  
    text-align: center;
    
}
.card img{
   
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
}
.card button{
    background-color: bisque;
    padding: 8px 16px;
    color: rgb(12, 12, 12);

}
.card h3 {
    margin: 10px 0;
    color: #333;
}

.card button {
    background-color: #57075a;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    margin-bottom: 10px;
}














footer{
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    clear: both;
    border: 2px solid black;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    
}
